/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 58px 0;
}

p, li {
    color: #444;
    font-size: 14px;

}

/* Barra de navegação */
header, .navbar {
    background-color: #1e425e;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 90px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
    cursor: pointer;
}

.navbar-toggler {
    background-color: #ffffff2e;
    border: 1px solid white;
}

/* Slider */
.w-100 {
    height: 100%;
}

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 80vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

@media screen and (max-width: 800px) {
    #mainSlider .carousel-caption h2 {
        font-size: 165%;
        margin-bottom: 25px;
    }

    #mainSlider .carousel-caption p {
        font-size: 100%;
        margin-bottom: 70px;
    }
}

.main-btn {
    background-color: #1e425e;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #1e425e;
}

.carousel-indicators .active {
    background-color: #1e425e;
}

/* Sobre a empresa */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    padding-top: 50px;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .main-title {
        padding-top: 0px;
    }
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 110px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list i {
    color: #1e425e;
    margin-right: 15px;
}

/* Nossos diferencias */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    .service-box {
        text-align: center;
        margin-bottom: 50px;
    }
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #1e425e;
}

/* Dados */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #1e425e;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* news letter */

#news-area {
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #1e425e;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #1e425e;
    background-color: #1e425e;
    text-transform: uppercase;
    color: #FFF;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover {
    background-color: #FFF;
    color: #1e425e;
}

/* Copy */

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    font-weight: bold;
    color: #444;
}

#copy-area .container a:hover {
    text-decoration: none;
    color: #1e425e;
}
